body {
    background-color:Kiều Thị Thu Giang 2121051276;
  }
  
  h1 {
    background-color:Kiều Thị Thu Giang 2121051276;
  }
  
  div {
    background-color:Kiều Thị Thu Giang 2121051276;
  }
  
  p {
    background-color:Kiều Thị Thu Giang 2121051276;
  }
  
  div {
    background-color:Kiều Thị Thu Giang 2121051276;
    opacity: 0.3;
  }
  
  
  div {
    background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
  }