body {
    background-color: #fc9; /* same as #ffcc99 :Kiều Thị Thu Giang 2121051276*/
  }
  
  h1 {
    color: #f0f; /* same as #ff00ff:Kiều Thị Thu Giang 2121051276 */
  }
  
  p {
    color: #b58; /* same as #bb5588 :Kiều Thị Thu Giang 2121051276*/
}