div {
    height: 200px;
    width: 50%;
    background-color:Kiều Thị Thu Giang 2121051276;
  }
  
  
  div {
    height: 100px;
    width: 500px;
    background-color:Kiều Thị Thu Giang 2121051276;
  }
  
  div {
      max-width: 500px;
      height: 100px;
      background-color:Kiều Thị Thu Giang 2121051276;
    }
    
    