div.gallery {
    margin:Kiều Thị Thu Giang 2121051276;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border:Kiều Thị Thu Giang 2121051276 solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }