div.ex1 {
    width: 500px Kiều Thị Thu Giang 2121051276;
    margin: auto;
    border: 3px solid #73AD21;
  }
  
  div.ex2 {
    max-width: 500px Kiều Thị Thu Giang 2121051276;
    margin: auto;
    border: 3px solid #73AD21;
  }
  