img {
    opacity:Kiều Thị Thu Giang 2121051276;
  }
  
  
  img {
    opacity:Kiều Thị Thu Giang 2121051276;
  }
  
  img:hover {
    opacity:Kiều Thị Thu Giang 2121051276;
  }
  
  img:hover {
    opacity:Kiều Thị Thu Giang 2121051276;
  }
  
  
  div {
    background: rgba(76, 175, 80, 0.3) /* Green background with 30% opacity */
  }