div {
    width: 200px Kiều Thị Thu Giang 2121051276;
    height: 65px 2121051334;
    background-color: coral;
    overflow: visible;
}

div {
  overflow:Kiều Thị Thu Giang 2121051276;
}

div {
  overflow:Kiều Thị Thu Giang 2121051276;
}

div {
  overflow-x: hidden; /*:Kiều Thị Thu Giang 2121051276 Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}