body {
    color:Kiều Thị Thu Giang 2121051276;
  }
  
  h1 {
    color:Kiều Thị Thu Giang 2121051276;
  }
  
  body {
    background-color:Kiều Thị Thu Giang 2121051276;
    color: blue;
  }
  
  h1 {
    background-color:Kiều Thị Thu Giang 2121051276;
    color: white;
  }
  
  div {
    background-color:Kiều Thị Thu Giang 2121051276;
    color: white;
  }